<table id="users">
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let emp of employees">
    <td *ngFor="let col of index">
      {{emp[col]}}
    </td>
  </tr>
  
 
</table>
<form #login = "ngForm" (ngSubmit) = "saveUser(login.value)" >
  <input type = "text" name = "first_name" placeholder = "first name" ngModel>
  <br/>
  <input type = "text" name = "last_name" placeholder = "last name" ngModel>
  <br/>
  <input type = "text" name = "email" placeholder = "email" ngModel>
  <br/>

  <input type = "submit" value = "submit">
</form>